################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/libdr4w/v16
/Build/Obj/Debug
/libdr4w/.vs/libdr4w/v16
/libdr4w/libdr4w.vcxproj.user
/.vs
